/* Normal Buttons ---------------------- */
/* line 3, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
.button {
  line-height: 1;
  width: auto;
  background: #eb614d;
  color: #781b0d;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 10px 20px 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* Hovers */
  /* Sizes */
  /* Colors */
  /* Radii */
  /* Layout */
  /* Disabled ---------- */ }
  /* line 4, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button .button a {
    color: inherit; }
  /* line 7, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button:hover, .button:focus {
    color: white;
    background-color: #f55a43; }
  /* line 10, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.large {
    font-size: ms(1);
    padding: 15px 30px 16px; }
  /* line 11, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.medium {
    font-size: ms(0); }
  /* line 12, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.small {
    font-size: ms(0)-3;
    padding: 7px 14px 8px; }
  /* line 13, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.tiny {
    font-size: ms(0)-4;
    padding: 5px 10px 6px; }
  /* line 14, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.expand {
    width: 100%;
    text-align: center; }
  /* line 17, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.primary {
    background-color: #eb614d;
    border: 1px solid #d43018; }
    /* line 18, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.primary:hover, .button.primary:focus {
      background-color: #e6381f; }
  /* line 20, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.success {
    background-color: #5da423;
    border: 1px solid #396516; }
    /* line 21, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.success:hover, .button.success:focus {
      background-color: #457a1a; }
  /* line 23, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.alert {
    background-color: #c60f13;
    border: 1px solid #7f0a0c; }
    /* line 24, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.alert:hover, .button.alert:focus {
      background-color: #970b0e; }
  /* line 26, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.secondary {
    background-color: #323131;
    color: #fefdfd;
    border: 1px solid #0b0b0b;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 10px; }
    /* line 27, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.secondary:hover, .button.secondary:focus {
      background-color: #4c4a4a; }
  /* line 31, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.round {
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    border-radius: 1000px; }
  /* line 34, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.full-width {
    width: 100%;
    text-align: center;
    padding-left: 0px !important;
    padding-right: 0px !important; }
  /* line 35, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.left-align {
    text-align: left;
    text-indent: 12px; }
  /* line 38, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.disabled, .button[disabled] {
    opacity: 0.6;
    cursor: default;
    background: #eb614d;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
    /* line 39, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.disabled :hover, .button[disabled] :hover {
      background: #eb614d; }
    /* line 41, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.disabled.success, .button[disabled].success {
      background-color: #5da423; }
      /* line 42, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
      .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
        background-color: #5da423;
        outline: none; }
    /* line 44, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.disabled.alert, .button[disabled].alert {
      background-color: #c60f13; }
      /* line 45, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
      .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
        background-color: #c60f13;
        outline: none; }
    /* line 47, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.disabled.secondary, .button[disabled].secondary {
      background-color: #323131; }
      /* line 48, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
      .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
        background-color: #323131;
        outline: none; }

/* Don't use native buttons on iOS */
/* line 54, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
input[type=submit].button, button.button {
  -webkit-appearance: none; }

/* Correct FF button padding */
@-moz-document url-prefix() {
  /* line 58, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
    padding: 0; }

  /* line 59, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  input[type="submit"].tiny.button {
    padding: 3px 10px 4px; }

  /* line 60, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  input[type="submit"].small.button {
    padding: 5px 14px 6px; }

  /* line 61, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  input[type="submit"].button, input[type=submit].medium.button {
    padding: 8px 20px 9px; }

  /* line 62, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  input[type="submit"].large.button {
    padding: 13px 30px 14px; } }
/* Buttons with Dropdowns ---------------------- */
/* line 67, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
.button.dropdown {
  position: relative;
  padding-right: 44px;
  /* Sizes */
  /* Triangles */
  /* Flyout List */
  /* Split Dropdown Buttons */ }
  /* line 70, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.dropdown.large {
    padding-right: 60px; }
  /* line 71, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.dropdown.small {
    padding-right: 28px; }
  /* line 72, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.dropdown.tiny {
    padding-right: 20px; }
  /* line 75, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.dropdown:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 6px;
    border-color: white transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -2px; }
  /* line 76, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.dropdown.large:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 7px;
    border-color: white transparent transparent transparent;
    margin-top: -3px;
    right: 30px; }
  /* line 77, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.dropdown.small:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: white transparent transparent transparent;
    margin-top: -2px;
    right: 14px; }
  /* line 78, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.dropdown.tiny:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 4px;
    border-color: white transparent transparent transparent;
    margin-top: -1px;
    right: 10px; }
  /* line 81, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.dropdown > ul {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: none;
    position: absolute;
    left: -1px;
    background: #fff;
    background: rgba(255, 255, 255, 0.95);
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #cccccc;
    border-top: none;
    min-width: 100%;
    z-index: 40; }
    /* line 83, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown > ul li {
      width: 100%;
      cursor: pointer;
      padding: 0;
      min-height: 18px;
      line-height: 18px;
      margin: 0;
      white-space: nowrap;
      list-style: none; }
      /* line 84, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
      .button.dropdown > ul li a {
        display: block;
        color: #555;
        font-size: ms(0)-1;
        font-weight: normal;
        padding: 6px 14px;
        text-align: left; }
      /* line 85, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
      .button.dropdown > ul li:hover, .button.dropdown > ul li:focus {
        background-color: white;
        color: #222; }
      /* line 86, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
      .button.dropdown > ul li.divider {
        min-height: 0;
        padding: 0;
        height: 1px;
        margin: 4px 0;
        background: #ededed; }
  /* line 90, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.dropdown.up > ul {
    border-top: 1px solid #cccccc;
    border-bottom: none; }
  /* line 92, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.dropdown ul.no-hover.show-dropdown {
    display: block !important; }
  /* line 94, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.dropdown:hover > ul.no-hover {
    display: none; }
  /* line 100, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  .button.dropdown.split {
    padding: 0;
    position: relative;
    /* Sizes */
    /* Colors */ }
    /* line 102, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split:after {
      display: none; }
    /* line 103, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split:hover, .button.dropdown.split:focus {
      background-color: #eb614d; }
    /* line 104, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split.alert:hover, .button.dropdown.split.alert:focus {
      background-color: #c60f13; }
    /* line 105, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split.success:hover, .button.dropdown.split.success:focus {
      background-color: #5da423; }
    /* line 106, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split.secondary:hover, .button.dropdown.split.secondary:focus {
      background-color: #323131; }
    /* line 109, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split > a {
      color: white;
      display: block;
      padding: 10px 50px 11px 20px;
      padding-left: 20px;
      padding-right: 50px;
      -moz-transition: background-color 0.15s ease-in-out;
      -o-transition: background-color 0.15s ease-in-out;
      -webkit-transition: background-color 0.15s ease-in-out;
      transition: background-color 0.15s ease-in-out; }
      /* line 110, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
      .button.dropdown.split > a:hover, .button.dropdown.split > a:focus {
        background-color: #e6381f; }
    /* line 112, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split.large > a {
      padding: 15px 75px 16px 30px;
      padding-left: 30px;
      padding-right: 75px; }
    /* line 113, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split.small > a {
      padding: 7px 35px 8px 14px;
      padding-left: 14px;
      padding-right: 35px; }
    /* line 114, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split.tiny > a {
      padding: 5px 25px 6px 10px;
      padding-left: 10px;
      padding-right: 25px; }
    /* line 116, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split.secondary > span:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: solid 6px;
      border-color: black transparent transparent transparent; }
    /* line 118, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split.large span {
      width: 45px; }
    /* line 119, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split.small span {
      width: 21px; }
    /* line 120, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split.tiny span {
      width: 15px; }
    /* line 122, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split.large span:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: solid 7px;
      border-color: white transparent transparent transparent;
      margin-top: -3px;
      margin-left: -7px; }
    /* line 123, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split.small span:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: solid 4px;
      border-color: white transparent transparent transparent;
      margin-top: -1px;
      margin-left: -4px; }
    /* line 124, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split.tiny span:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: solid 3px;
      border-color: white transparent transparent transparent;
      margin-top: -1px;
      margin-left: -3px; }
    /* line 127, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split.alert > span {
      background-color: #c60f13;
      border-left-color: #7f0a0c; }
    /* line 128, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split.success > span {
      background-color: #5da423;
      border-left-color: #396516; }
    /* line 129, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split.secondary > span {
      background-color: #323131;
      border-left-color: #0b0b0b; }
    /* line 130, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split.secondary > a {
      color: black; }
    /* line 132, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split.alert > a:hover, .button.dropdown.split.alert > span:hover, .button.dropdown.split.alert > a:focus, .button.dropdown.split.alert > span:focus {
      background-color: #970b0e; }
    /* line 133, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split.success > a:hover, .button.dropdown.split.success > span:hover, .button.dropdown.split.success > a:focus, .button.dropdown.split.success > span:focus {
      background-color: #457a1a; }
    /* line 134, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    .button.dropdown.split.secondary > a:hover, .button.dropdown.split.secondary > span:hover, .button.dropdown.split.secondary > a:focus, .button.dropdown.split.secondary > span:focus {
      background-color: #181818; }

/* Button Groups ---------------------- */
/* line 140, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
ul.button-group {
  list-style: none;
  padding: 0;
  margin: 0 0 12px;
  *zoom: 1; }
  /* line 4, ../../cgcookie-4.0/cgc-sass-framework/mixins/_clearfix.scss */
  ul.button-group:before, ul.button-group:after {
    content: " ";
    display: table; }
  /* line 5, ../../cgcookie-4.0/cgc-sass-framework/mixins/_clearfix.scss */
  ul.button-group:after {
    clear: both; }
  /* line 142, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  ul.button-group li {
    padding: 0;
    margin: 0 0 0 -1px;
    float: left; }
    /* line 143, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
    ul.button-group li:first-child {
      margin-left: 0; }
  /* line 148, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  ul.button-group.radius li a.button, ul.button-group.radius li a.button.radius, ul.button-group.radius li a.button-rounded, ul.button-group.radius li input[type="submit"].button, ul.button-group.radius li input[type="submit"].button.radius, ul.button-group.radius li input[type="submit"].button-rounded {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px; }
  /* line 151, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  ul.button-group.radius li:first-child a.button, ul.button-group.radius li:first-child a.button.radius, ul.button-group.radius li:first-child input[type="submit"].button, ul.button-group.radius li:first-child input[type="submit"].button.radius {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  /* line 152, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  ul.button-group.radius li:first-child a.button.rounded, ul.button-group.radius li:first-child input[type="submit"].button.rounded {
    -moz-border-radius-topleft: 1000px;
    -webkit-border-top-left-radius: 1000px;
    border-top-left-radius: 1000px;
    -moz-border-radius-bottomleft: 1000px;
    -webkit-border-bottom-left-radius: 1000px;
    border-bottom-left-radius: 1000px; }
  /* line 155, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  ul.button-group.radius li:last-child a.button, ul.button-group.radius li:last-child a.button.radius, ul.button-group.radius li:last-child input[type="submit"].button, ul.button-group.radius li:last-child input[type="submit"].button.radius {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  /* line 156, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  ul.button-group.radius li:last-child a.button.rounded, ul.button-group.radius li:last-child input[type="submit"].button.rounded {
    -moz-border-radius-topright: 1000px;
    -webkit-border-top-right-radius: 1000px;
    border-top-right-radius: 1000px;
    -moz-border-radius-bottomright: 1000px;
    -webkit-border-bottom-right-radius: 1000px;
    border-bottom-right-radius: 1000px; }
  /* line 161, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  ul.button-group.even .button {
    width: 100%; }
  /* line 162, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  ul.button-group.even.two-up li {
    width: 50%; }
  /* line 163, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  ul.button-group.even.three-up li {
    width: 33.3%; }
  /* line 164, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  ul.button-group.even.three-up li:first-child {
    width: 33.4%; }
  /* line 165, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  ul.button-group.even.four-up li {
    width: 25%; }
  /* line 166, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  ul.button-group.even.five-up li {
    width: 20%; }

/* line 170, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
div.button-bar {
  overflow: hidden; }
  /* line 171, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  div.button-bar ul.button-group {
    float: left;
    margin-right: 8px; }
  /* line 172, ../../cgcookie-4.0/cgc-sass-framework/components/modules/_buttons.scss */
  div.button-bar ul.button-group:last-child {
    margin-left: 0; }

/* line 1, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
#masthead .site-header-content .branding {
  border-color: #eb614d; }
  /* line 3, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
  #masthead .site-header-content .branding #network-toggle {
    color: #eb614d; }

@media (max-width: 766px) {
  /* line 8, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
  body #masthead .branding .site-title a {
    border-color: #eb614d; } }
/* line 12, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
a {
  color: #eb614d;
  text-decoration: none;
  line-height: inherit; }

/* line 13, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
a:hover {
  color: #f08a7b; }

/* line 14, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
a:focus {
  color: #f08a7b; }

/* line 16, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
.button,
input[type="submit"],
.section-controls li a.gallery-submit-button {
  width: auto;
  background: #eb614d;
  color: #781b0d; }
  /* line 19, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
  .button:hover, .button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  .section-controls li a.gallery-submit-button:hover,
  .section-controls li a.gallery-submit-button:focus {
    color: white;
    background-color: #f55a43; }

/* line 21, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
.prev-image a:hover, .next-image a:hover {
  background: #eb614d;
  color: #781b0d; }

/* line 25, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
#header-wrap {
  border-bottom: 5px #eb614d solid; }

/* line 27, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
#masthead .header-search button:hover {
  background: #eb614d; }

/* line 32, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
#main-navigation > ul.menu > li {
  -moz-transition: border-color 0.2s linear;
  -o-transition: border-color 0.2s linear;
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear; }
  /* line 34, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
  #main-navigation > ul.menu > li.current-menu-item > a {
    border-bottom: 5px solid #bd2a15;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px;
    border-radius: 5px 5px 0 0; }
  /* line 38, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
  #main-navigation > ul.menu > li > a {
    border-bottom: 5px solid transparent; }
    /* line 40, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
    #main-navigation > ul.menu > li > a:hover {
      border-bottom: 5px solid dark(#eb614d, 20%);
      -moz-border-radius: 5px 5px 0 0;
      -webkit-border-radius: 5px;
      border-radius: 5px 5px 0 0;
      -moz-transition: border-color 0.2s linear;
      -o-transition: border-color 0.2s linear;
      -webkit-transition: border-color 0.2s linear;
      transition: border-color 0.2s linear; }
  /* line 46, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
  #main-navigation > ul.menu > li:hover > a {
    border-bottom: 5px solid #bd2a15;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px;
    border-radius: 5px 5px 0 0;
    -moz-transition: border-color 0.2s linear;
    -o-transition: border-color 0.2s linear;
    -webkit-transition: border-color 0.2s linear;
    transition: border-color 0.2s linear; }

/* line 60, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
form .chosen-container .chosen-results .highlighted {
  background: #eb614d; }

/* line 68, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
.hentry .post-image .comments-link {
  background: #eb614d; }
  /* line 70, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
  .hentry .post-image .comments-link:hover {
    background: #fa563e; }

/* line 78, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
.user-profile-overview .user-for-hire {
  background: #eb614d; }

/* line 83, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
.post-controls a:hover, .post-controls a.cgc_bookmark_remove {
  color: #eb614d; }

/* line 86, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
.post-downloads i {
  background: #eb614d; }

/* line 90, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
.categorization i.icon-circle {
  color: #eb614d; }

/* line 94, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
.facetwp-page:hover,
#wp_page_numbers a:hover {
  background: #eb614d; }

/* line 98, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
.facetwp-page:hover {
  background: #eb614d; }

/* line 102, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
.gallery-image-controls li a:hover {
  color: #eb614d; }

/* line 106, ../../cgcookie-4.0/cgc-sass-framework/common/_maincolorelements.scss */
.dashboard-content #user-portfolio-images ul.gallery-image-controls li a:hover {
  color: #eb614d; }
